@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Lato:900);
p {
  font-family:Roboto;
  font-size:21px;
  text-align:center;
  line-height:100%;
  margin-bottom:20px;
  color:#000
}
h1 {
  font-family:Roboto;
  font-size:70%;
  text-align:center;
  line-height:80%;
  margin-top:40px;
  font-weight:400
}
h2 {
  font-family:Roboto;
  font-size:170%;
  text-align:center;
  line-height:80%;
  margin-top:40px
}
h3 {
  font-family:Roboto;
  font-size:23px;
  text-align:center;
  line-height:80%;
  margin-top:50px
}
h4 {
  font-family:Roboto;
  font-size:18px;
  text-align:center;
  line-height:80%;
  margin-top:5px;
  margin-bottom:22px
}
h5 {
  font-family:Lato;
  font-size:70px;
  text-align:center;
  line-height:0;
  margin-top:80px;
  margin-bottom:57px;
  font-weight:700
}
body,
html {
  text-size-adjust:none;
  -webkit-text-size-adjust:none;
  -moz-text-size-adjust:none;
  -ms-text-size-adjust:none
}
body {
  background-color:#fdfbfa;
  display:block
}
.center {
  text-align:center
}
.small {
  font-size:18px
}
.header {
  display:block;
  list-style-type:none;
  margin:0;
  padding:0;
  overflow-y:auto;
  overflow-x:hidden;
  background-color:transparent;
  font-family:Roboto;
  font-size:90%;
  position:sticky;
  top:-5px;
  width:100%;
  text-align:center;
  height:46px;
  white-space:nowrap
}
.header::-webkit-scrollbar {
  width:10px;
  background:#b9b9b9
}
.header::-webkit-scrollbar-thumb {
  background:#5e5e5e
}
.header li {
  float:left;
  
}
.header li a {
  display:block;
  color:#404040;
  font-weight:700;
  text-align:center;
  padding:14px 16px;
  text-decoration:none;
  border-radius: 10px;
  margin-left: 10px;
  transition: background-color 0.2s ease;
}
.header li p {
  overflow:hidden
}
.header li a:hover {
  background-color:#bbb;
}

.headerRight,
.headerRight li {
  float:right;
  height:46px
}
::placeholder {
  color:aaa
}
@-moz-keyframes spin {
  100% {
    -moz-transform:rotate(360deg)
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform:rotate(360deg)
  }
}
@keyframes spin {
  100% {
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg)
  }
}

img {
  border-radius: 50%;
}

.main {
  display: grid;
  place-items: center;
}

